.reset-password__inner {
  max-width: 560px;
  margin: 0 auto;
}

.reset-password__title {
  margin-bottom: 40px;
}

.reset-password__subtitle {
  margin-bottom: 75px;
}

.reset-password__input {
  margin-bottom: 65px;
  width: 100%;
}

.reset-password__btn {
  width: 100%;
}