.shop__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 40px;
}
.shop__title {
  font-size: 33px;
  font-weight: 500;
}
.shop__link {
  font-size: 20px;
  font-weight: 500;
  color: rgb(161, 138, 104);
}
.shop__catalog {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  row-gap: 85px;
  column-gap: 50px;
}
.shop__product {
  font-size: 20px;

  &-img {
    margin-bottom: 25px;
    position: relative;

    img {
      border-radius: 8px;
    }
  }

  &-title {
    margin-bottom: 15px;
  }

  &-price {
    color: rgb(161, 138, 104);
  }
}

.shop__product:hover .shop__btn {
  opacity: 1;
}

.shop__btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 22px 0;
  background-color: rgba(255, 255, 255, 0.5);

  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  opacity: 0;
  
  transition: .3s;

  &:hover {
    background-color: darken(rgba(255, 255, 255, 0.5), 15%);
  }
}