.shop__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 40px;
}
.shop__title {
  font-size: 33px;
  font-weight: 500;
  white-space: nowrap;
}
.shop__link {
  font-size: 20px;
  font-weight: 500;
  color: rgb(161, 138, 104);
  white-space: nowrap;
}
.shop__catalog {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 3rem 1rem;
}
.shop__product {
  font-size: 20px;

  &-img {  
    max-width: 380px;
    max-height: 380px;
    margin-bottom: 25px;
    position: relative;

    img {
      width: 100%;    
      border-radius: 8px;
    }
  }

  &-title {
    margin-bottom: 15px;
  }

  &-price {
    color: rgb(161, 138, 104);
  }
}

.shop__product:hover .shop__btn {
  opacity: 1;
}

.shop__btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 22px 0;
  background-color: rgba(255, 255, 255, 0.5);

  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  opacity: 0;
  
  transition: .3s;

  &:hover {
    background-color: darken(rgba(255, 255, 255, 0.5), 15%);
  }
}


// Adaptive
@media (max-width: 720px) {
  .shop__catalog {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 1rem;
  }

  .shop__btn {
    display: none;
  }
}

@media(max-width: 450px) {
  .shop__title {
    font-size: 20px;
  }

  .shop__link {
    font-size: 16px;
  }

  .shop__product {
    &-img {
      margin-bottom: 6px;
    }

    &-title {
      font-size: 16px;
      margin-bottom: 4px;
    }

    &-price {
      font-size: 14px;
    }
  }
}